html {font-size: 10px;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* start navigation */

.navigation {
  display: flex;
  max-width: 800px;
  height: 75px;
  margin: 0 auto;
  background-color: #0b3b54;
  color: #C9A920;
  align-items: center;
}

  .navigation__logo {
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 2.4rem;
  }

  .navigation__links {
    display: flex;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
    margin-left: 5.2rem;
    justify-content: space-between;
  }

  .navigation__item {
    color: #C9A920;
    text-decoration: none;
  }

  .navigation__item:hover {border-bottom: 1px solid#C9A920}

/* end navigation */

/* start content */

.content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 2.5rem 2.5rem 6rem 2.5rem;
}

  .content__title {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
  }

  .content__section { 
    display: flex;
    margin-top: 2.4rem;
    align-items: flex-start;
  }

  .content__img {
    width: 45.3%;
    height: auto;
  }

  .content__info {
    flex-basis: 54.7%;
    padding-left: 1rem;
    font-size: 1.6rem;
  }

  .content__text {
    text-align: justify;
  }

  .content__form {
    width: 50.1%;
    height: auto;
    float: right;
    border: 1px solid #000;
    margin-left: 1rem;
    margin-bottom: 2.4rem;
    padding: 1.5em .75em;
  }

    .content-form__title {
      display: block;
      margin-bottom: 1.6rem;
    }

    .content-form__input {width: 100%;}

    .content-form__btn {
      padding: .2rem .7rem;
      margin-top: 1.2rem;
    }

/* end content */